server:
  port: 8080
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # ------------------------------------
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"
      # ------------------------------------
      routes:
        - id: student-service-route
          uri: lb://STUDENT-SERVICE
          predicates:
            - Path=/student-service/**
          filters:
            - StripPrefix=1

        - id: auth-service-route
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth-service/**
          filters:
            - StripPrefix=1

        - id: professor-service-route
          uri: lb://PROFESSOR-SERVICE
          predicates:
            - Path=/professor-service/**
          filters:
            - StripPrefix=1

        - id: catalog-service-route
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/catalog-service/**
          filters:
            - StripPrefix=1

        - id: learning-service-route
          uri: lb://LEARNING-SERVICE
          predicates:
            - Path=/learning-service/**
          filters:
            - StripPrefix=1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/