server:
  port: 8084

spring:
  application:
    name: admin-service
  datasource:
    url: jdbc:mysql://localhost:3306/admin_db?createDatabaseIfNotExist=true
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    e_learning.admin_service.clients: DEBUG
