server:
  port: 8083

spring:
  application:
    name: professor-service
  datasource:
    url: jdbc:mysql://localhost:3306/professor_db?createDatabaseIfNotExist=true
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
